<div style="display:flex" id='todo-<%= todo.id %>' <%- swap ? 'hx-swap-oob="true"' : '' %>>
  <span style="margin-right:16px"><%= todo.description %></span>
  <button 
    style="width:auto;padding:4px"
    hx-post="/todo/update/modal"
    hx-target='#edit-modal'
    hx-swap="innerHTML"
    hx-vals='{ "todo": <%= JSON.stringify(todo) %> }'
    >
    Edit
  </button>
  <button 
    style="width:auto;padding:4px"
    hx-post="/todo/delete"
    hx-target='#todo-<%= todo.id %>'
    hx-swap="outerHTML"
    hx-vals='{ "id": <%= todo.id %> }''
    >
    Delete
  </button>
</div>
